*{
box-sizing: border-box;
margin:0;
padding:0;
font-family: Arial, Helvetica, sans-serif;
}

:root{  

--blue:rgb(44, 34, 91);
--white:rgb#f1f1f1;
--black:rgb #333;
--pink:rgb(145, 77, 148);
}

body{
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
padding: 0 10px;
background: var(--blue);

}

.wrapper{

  width: 450px;
background: var(--pink);
border-radius: 15px;
box-shadow: 0 15px 40px rgba(0,0,0,.12);

}

.wrapper header{

display: flex;
justify-content: space-between;
padding: 25px 30px 10px;
align-items: center;

}


header.icon{

display: flex;

}

header.icon span{

height: 38px;
width: 38px;
margin: 0 1px;
cursor: pointer;
color: #e0d4d4;
text-align: center;
line-height: 38px;
font-size: 1.9rem;
user-select: none;
border-radius: 50%;

}

.icon span:last-child{

margin-right: -10px;

}

header.icon span:hover{

background: #e4c7c7;

}

header.date{

font-weight: 500;
font-size: 1.45rem;

}

.calendar{

padding: 20px;

}

.calendar ul {

display: flex;
flex-wrap: wrap;
list-style: none;
text-align: center;

}

.calendar.day{

margin-bottom: 20px;

}

.calendarli{

color: var(--white);
width: calc(100% /7);
font-size: 1.07rem;



}























